# PostgreSQL configuration example
production:
  adapter: postgresql
  database: {{ redmine_db_database }}
  host: localhost
  username: {{ redmine_db_username }}
  password: "{{ redmine_db_password }}"
